:root {
  --secondary-text-color: #ffffff;
  --primary-text-color: #212121;
  --tertiary-text-color: #757575;
  --hover-text-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --tertiary-bg-color: #f5f4fa;
  --hover-bg-color: #188ce8;
  --logo-primary-color: #000000;
  --icon-color: #afb1b8;

  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--primary-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.link {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  transition: color var(--duration) var(--timing-function);
}

.link:hover,
.link:focus {
  color: var(--hover-text-color);
}

.current {
  position: relative;
  color: var(--hover-text-color);
}

.current::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: var(--hover-text-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Modal Window */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: all;

  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--duration) var(--timing-function),
    visibility var(--duration) var(--timing-function),
    background-color var(--duration) var(--timing-function);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, 100%) rotate(40deg) scale(0.1);
  transform-origin: left top;
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transform-origin: left top;
  padding: 40px;

  background-color: var(--secondary-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform var(--duration) var(--timing-function);
}
.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--secondary-text-color);
  cursor: pointer;
  color: #000000;

  transition: color var(--duration) var(--timing-function);
}

.modal-close-btn:focus,
.modal-close-btn:hover {
  color: var(--hover-text-color);
}

.modal-bnt-icon {
  fill: currentColor;
}

.form-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.form-field {
  margin-bottom: 10px;
}

.form-field:last-child {
  margin-bottom: 20px;
}

.form-label {
  display: inline-block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--tertiary-text-color);
}

.form-wrap {
  position: relative;
}

.form-wrap:focus-within .form-icon {
  fill: var(--hover-text-color);
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 11px;
  padding-top: 11px;
  padding-bottom: 11px;
  outline: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color var(--duration) var(--timing-function);
}

.form-input:focus {
  border-color: var(--hover-text-color);
}

.form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--duration) var(--timing-function);
}

.form-field-comment {
  margin-bottom: 20px;
}

.comment {
  outline: none;
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--duration) var(--timing-function);
}

.comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.comment:focus {
  border-color: var(--hover-text-color);
}

.form-label-concent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  cursor: pointer;

  color: var(--tertiary-text-color);
}

.form-checkbox-concent:checked + .form-icon-check {
  background-color: var(--hover-text-color);
  border: none;
}

.form-checkbox-concent:focus-visible + .form-icon-check {
  outline: 2px solid var(--hover-text-color);
}

.form-icon-check {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;

  transition: background-color var(--duration) var(--timing-function),
    border var(--duration) var(--timing-function);
}

.form-link-concent {
  margin-left: 7px;
  color: var(--hover-text-color);
}

/* HOME */
/* -----------------HEADER---------------------- */
.header-page {
  border-bottom: 1px solid #ececec;
}

.header-content {
  display: flex;
  align-items: center;
}
.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: var(--hover-text-color);
}

.logo-primary {
  color: var(--primary-text-color);
}

.site-nav {
  display: flex;
  column-gap: 50px;
}

.link-nav {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-contacts {
  display: flex;
  margin-left: auto;
  column-gap: 50px;
}

.header-contact-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--tertiary-text-color);
}

.contact-icon {
  fill: currentColor;
}

/* -----------------MAIN-------------------------- */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/* HERO */
.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0;
  background-color: var(--secondary-bg-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg-hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.hero-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  cursor: pointer;

  background-color: var(--hover-text-color);
  transition: background-color var(--duration) var(--timing-function);
}

.hero-button:focus,
.hero-button:hover {
  background-color: var(--hover-bg-color);
}

/*Features*/

.features {
  padding-bottom: 0;
}

.feature-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.feature-item {
  width: calc((100% - 90px) / 4);
}

.feature-wrap-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background: var(--tertiary-bg-color);
  border-radius: 4px;
}

.feature-icon {
  width: 70px;
  height: 70px;
}
.feature-title {
  margin-bottom: 10px;

  line-height: 1.14;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--tertiary-text-color);
}

/* -----------------What are we doing---------------------- */

.example-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.example-item {
  position: relative;
  width: calc((100% - 60px) / 3);
}

.example-title {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* -----------------Team---------------------- */
.team {
  background-color: var(--tertiary-bg-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-item {
  width: calc((100% - 90px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background-color: var(--primary-bg-color);
}
.team-content {
  padding: 30px 0;
}

.team-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--tertiary-text-color);
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
  transition: color var(--duration) var(--timing-function),
    background-color var(--duration) var(--timing-function);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--hover-text-color);
  color: var(--primary-bg-color);
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* Our clients */
.clients {
  display: flex;
  gap: 30px;
}

.client {
  height: 92px;
  width: calc((100% - 150px) / 6);
}
.client-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
  transition: color var(--duration) var(--timing-function),
    border-color var(--duration) var(--timing-function);
}

.client-link:hover,
.client-link:focus {
  border-color: var(--hover-text-color);
}

.client-icon {
  width: 106px;
  height: 60px;

  fill: currentColor;
}
/* -----------------Footer---------------------- */
.footer-page {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--secondary-bg-color);
}
.footer-container {
  display: flex;
  align-items: baseline;
}

.address-wrap {
  flex-grow: 1;
  margin-right: 70px;
}
.logo-footer {
  padding: 0;
  margin-bottom: 20px;
  margin-right: 0;
}
.logo-secondary {
  color: var(--secondary-text-color);
}

.contact-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer-address {
  text-decoration: none;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  transition: color var(--duration) var(--timing-function);
}

.footer-contact {
  text-decoration: none;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--duration) var(--timing-function);
}
.footer-address:hover,
.footer-address:focus {
  color: var(--hover-text-color);
}

.footer-contact:hover,
.footer-contact:focus {
  color: var(--hover-text-color);
}

.social-wrap {
  margin-right: 93px;
}

.title-social {
  margin-bottom: 20px;
  color: var(--primary-bg-color);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.footer-social {
  gap: 10px;
  display: flex;
}

.footer-social-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-bg-color);
}
.footer-social-link:focus,
.footer-social-link:hover {
  background-color: var(--hover-text-color);
}

.footer-social-icon {
  fill: currentColor;
}

.subscribe-input {
  width: 358px;
  margin-right: 12px;
  padding: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background-color: transparent;
  transition: border-color var(--duration) var(--timing-function);
}

.subscribe-input:focus {
  border-color: var(--hover-text-color);
}
.subscribe-form {
  display: flex;
}

.subscribe-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe-icon-send {
  margin-left: 10px;
}
/* PORTFOLIO */

.filter-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  display: block;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  cursor: pointer;

  background-color: var(--tertiary-bg-color);

  transition: color var(--duration) var(--timing-function),
    background-color var(--duration) var(--timing-function),
    box-shadow var(--duration) var(--timing-function);
}

.filter-btn:focus,
.filter-btn:hover {
  color: var(--secondary-text-color);
  background-color: var(--hover-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item {
  width: calc((100% - 60px) / 3);
}

.link-portfolio {
  display: block;
  text-decoration: none;

  transition: box-shadow var(--duration) var(--timing-function);
}

.link-portfolio:hover,
.link-portfolio:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.link-portfolio:focus .portfolio-text-overlay,
.link-portfolio:hover .portfolio-text-overlay {
  transform: translateY(0);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-text-overlay {
  position: absolute;
  overflow: auto;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background-color: rgba(33, 150, 243, 0.9);

  transition: transform var(--duration) var(--timing-function);
}

.portfolio-content {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--tertiary-text-color);
}
